<div class="card">
    <div class="card-header">
     Cantidad De Productos En Bodega
    </div>
    <div class="card-body">
        <p-chart type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>
    </div>
  </div>

    <div class="card">
        <div class="card-header">
         Productos Mas Vendidos
        </div>
        <div class="card-body">
            <p-chart type="pie" [data]="dataProdMas" [options]="chartOptionsProdMas" [style]="{'width': '40%'}"></p-chart>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
         Clientes Que Mas Compran
        </div>
        <div class="card-body">
            <p-chart type="polarArea" [data]="dataCliente" [options]="chartOptionsCliente" [style]="{'width': '40%'}"></p-chart>
        </div>
      </div>





