#apartado1{
    height:50px;
    border:1px solid gray;
 }
 #apartado2{
   height:180px;
   border:1px solid gray;
}
 #apartado3{
    height:180px;
    border:1px solid gray;
 }
 #apartado4{
   border:1px solid gray;
}
#apartado5{
   height:180px;
   border:1px solid gray;
}